<div class="mat-h2">Angular material custom color demo</div>
<ol>
    <li>Create a new Angular project (<code>ng new XXXX</code>) </li>
    <li>When prompted, choose .scss for style sheets</li>
    <li>Add material library (<code>ng add @angular/material)</code></li>
    <li>When prompted, choose 'custom scheme' instead of one of the four predefined schemes</li>
</ol>

&nbsp;&nbsp;&nbsp;&nbsp;


<button mat-raised-button color="accent"><mat-icon>thumb_up</mat-icon></button>

<br><br>

<p class="warn">If you are not a designer, be careful with colors or you may mess up!</p>